@font-face {
  font-family: ibm;
  src: url("https://raw.githack.com/Pureku/share-point/main/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.ttf?raw=true");
}

* {
  padding: 0;
  margin: 0;
  font-style: ibm;
}

:root {
  font-size: 16px;

  --heading-color: hsl(0, 0%, 7%);
  --date-text-color: hsl(0, 0%, 51%);
  --previous-price-text-color: hsl(0, 98%, 44%);
  --current-price-text-color: hsla(0, 0%, 0%, 0.822);
  --liked-heart-icon-color: hsl(0, 98%, 44%);
  --heart-icon-color: whitesmoke;
  --pricing-font-weight: 800;
  --title-font-weight: 800;
  --date-font-weight: 550;

  /* Cards colors */
  --card-main-color: whitesmoke;
  --card-1-secondary-color: rgb(192, 82, 82);
  --card-2-secondary-color: rgb(67, 53, 27);
  --card-3-secondary-color: rgb(178, 180, 179);
  --card-4-secondary-color: rgb(96, 109, 117);
}

html {
  width: 100%;
  height: 100%;
}

body {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeSpeed;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

@media screen and (min-width: 992px) {
  .cfsp {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .cfinfmM {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cfimfmli {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 576px) {
  .cfsp {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .cfinfmH {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .cffcn {
    margin-bottom: 24px;
  }
  .cfch {
    margin: 70px auto 40px;
  }
  .cfcdt {
    grid-template-columns: minmax(auto, 300px) 1fr;
  }
  .imgcdt {
    display: block;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 60px 116px)
      drop-shadow(rgba(0, 0, 0, 0.08) 0px 25.0666px 48.462px)
      drop-shadow(rgba(0, 0, 0, 0.016) 0px 13.4018px 25.9101px)
      drop-shadow(rgba(0, 0, 0, 0.024) 0px 7.51293px 14.525px)
      drop-shadow(rgba(0, 0, 0, 0.016) 0px 3.99006px 7.71412px)
      drop-shadow(rgba(0, 0, 0, 0.01) 0px 1.66035px 3.21002px);
    border-radius: 16px;
    object-fit: cover;
    height: 350px;
    width: 100%;
  }
  .cfsmdt {
    margin-bottom: 0px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .cfimfmli {
    height: 400px;
  }
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .cffcn {
    margin-bottom: 24px;
  }
  .cfch {
    margin: 70px auto 40px;
  }
  .cfcdt {
    grid-template-columns: 578px 1fr;
    column-gap: 48px;
  }
  .cfinfmM {
    max-width: 1080px;
  }
}

.cffcn {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 16px;
  color: rgb(38, 38, 38);
  text-align: center;
  /* font-size: 20px;
  font-weight: 500; */
  letter-spacing: normal;
  line-height: 1.43;
}

.cfsbg {
  background: linear-gradient(
    105.59deg,
    rgba(238, 240, 247, 0) -14.4%,
    rgb(238, 240, 247) 98.37%
  );
  position: relative;
  z-index: 0;
}

.cfsp {
  box-sizing: border-box;
  min-width: 0px;
  margin: 0px auto;
  padding: 60px 8px;
  width: 100%;
}

.cfsmdtcn {
  border-left: 4px solid rgb(79, 96, 167);
  border-right: 4px solid rgb(79, 96, 167);
  border-top-color: rgb(79, 96, 167);
  border-bottom-color: rgb(79, 96, 167);
}

.cfmnd {
  box-sizing: border-box;
  min-width: 0px;
  display: grid;
  row-gap: 40px;
}

.cfch {
  box-sizing: border-box;
  min-width: 0px;
  margin: 30px auto 40px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 1140px;
}

.cfcdt {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 64px;
  margin-top: 64px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: minmax(auto, 500px) 1fr;
}
.cfcdtlt {
  box-sizing: border-box;
  min-width: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.cfcdtl {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.cfcdtltd {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 16px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.cfcdtltdi {
  background-color: rgb(46, 138, 153);
  border-radius: 50%;
  place-items: center;
  color: white;
  flex: 0 0 auto;
}

.dtlti {
  box-sizing: border-box;
  min-width: 0px;
  margin-right: 16px;
  display: grid;
  width: 24px;
  height: 24px;
}

.cfsmc {
  box-sizing: border-box;
  min-width: 0px;
  margin: 32px auto 32px;
  max-width: 960px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
}

.cfsmdt {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 32px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.imgcdt {
  /* display: none; */
  box-sizing: border-box;
  min-width: 0px;
  max-width: 100%;
  height: auto;
}

.cfinfmM {
  box-sizing: border-box;
  min-width: 0px;
  margin: 20px auto;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  max-width: 1140px;
}

.cfimfmli {
  box-sizing: border-box;
  min-width: 0px;
  margin-bottom: 32px;
  margin-top: 17px;
  height: auto;
}

.infmli {
  box-sizing: border-box;
  min-width: 0px;
  margin-left: 0px;
  flex: 1 1 0%;
  -webkit-box-pack: justify;
  display: flex;
}

.infmliImg {
  box-sizing: border-box;
  min-width: 0px;
  margin-right: 16px;
  height: 140px;
  width: 140px;
  flex: 0 0 auto;
}

.cfctn{
    box-sizing: border-box;
    min-width: 0px;
    margin: 20px auto;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    max-width: 1140px;
}

.imginfmli{
    box-sizing: border-box;
    min-width: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 60px 116px) drop-shadow(rgba(0, 0, 0, 0.08) 0px 25.0666px 48.462px) drop-shadow(rgba(0, 0, 0, 0.016) 0px 13.4018px 25.9101px) drop-shadow(rgba(0, 0, 0, 0.024) 0px 7.51293px 14.525px) drop-shadow(rgba(0, 0, 0, 0.016) 0px 3.99006px 7.71412px) drop-shadow(rgba(0, 0, 0, 0.01) 0px 1.66035px 3.21002px);
}
}
.cfimfmlidt {
  box-sizing: border-box;
  min-width: 0px;
}

.imginfm {
  box-sizing: border-box;
  min-width: 0px;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  border-radius: 14px;
}

.cfinfmli {
  box-sizing: border-box;
  min-width: 0px;
  max-width: 500px;
}
.cfinfmH {
  box-sizing: border-box;
  min-width: 0px;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.container input {
  display: none;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 30px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    padding: 15px;
  }
  .card{
    border-radius: 14px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
  }
  .image-content{
    box-sizing: border-box;
    min-width: 0px;
    padding-top: 50%;
    /* background-image: url(https://raw.githack.com/Pureku/share-point/main/image/training01.jpg?raw=true ); */
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 14px 14px 0px 0px;
    height: 0px;
  }
  /* .overlay{
    box-sizing: border-box;
    min-width: 0px;
    padding-top: 50%;
    background-image: url(../image/isvsit.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 0px;
  } */

  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2e7cad;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #2a4284;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }


.container {
  max-width: 100em;
  /* background-color: lightgreen; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  min-height: 30em;
  padding: 3em 1em 1em 1em;
  box-sizing: border-box;
}

/* Card Styling */
.card-div {
  width: 20em;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--card-main-color);
  margin: 0.6em;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out;
}

.img-cls {
  max-width: 300px;
  max-height: 200px;
}

/* ======== General styling of all cards and heart divs ========== */
.img-div {
  width: 100%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.img-div img {
  transform-origin: bottom;
  transform: translateY(7.5%);
  transition: transform 0.3s ease-in-out;
}

/* === Styling the like Icon ==== */
.like-icon-div {
  padding: 1em 1em 0 1em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 1.5em;
  color: var(--heart-icon-color);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
}

.like-icon-div-child {
  /* background-color: yellow; */
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.heart-empty {
  position: absolute;
  left: 0;
  opacity: 1;
}

.heart-fill {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.25s ease-in-out, opacity 0.2s ease-in-out;
}

/* God of war image and heart-background*/
.gow-img-div {
  background-color: rgb(184 208 217);
}

.gow-img-div img {
  width: 65%;
  transform: translateY(7.5%);
  /* background-color: whitesmoke; */
}

.card-1 .like-icon-div {
  background-color: rgb(184 208 217);
}

/* Sekiro image and heart-background */
.sekiro-img-div {
  background-color: rgb(209 221 219);
}

.sekiro-img-div img {
  transform: translateY(7.5%);
}

.card-2 .like-icon-div {
  background-color: rgb(209 221 219);
}

/* Dazai image and heart-background */
.dazai-img-div {
  background-color: rgb(184 208 217);
}

.dazai-img-div img {
  width: 80%;
  transform: translateY(7.5%);
}

.card-3 .like-icon-div {
  background-color: rgb(184 208 217);
}

/* U4 image and heart-background*/
.u4-img-div {
  background-color: rgb(209 221 219);
}

.u4-img-div img {
  width: 50%;
  transform: translateY(7.5%);
}

.card-4 .like-icon-div {
  background-color: rgb(209 221 219);
}

/* ======== text Container Styling general ======== */

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  padding: 0 1.5em;
  padding-top: 7em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.text-container .item-name,
.text-container .date {
  margin: 0.25em 0;
  text-align: center;
}

.text-container .item-name {
  font-size: 1.2em;
  font-weight: var(--title-font-weight);
  color: var(--heading-color);
}

.text-container .date {
  font-size: 0.9em;
  font-weight: var(--date-font-weight);
  color: var(--date-text-color);
}

/* === Pricing and cart div  ===== */
.pricing-and-cart {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.25em 0 1em 0;
}

.pricing {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.previous-price {
  font-size: 0.8rem;
  font-weight: var(--pricing-font-weight);
  color: var(--previous-price-text-color);
  text-decoration: line-through;
  /* background-color: whitesmoke; */
  text-align: left;
}

.current-price {
  color: var(--current-price-text-color);
  font-size: 1.3rem;
  font-weight: var(--pricing-font-weight);
  /* background-color: yellow; */
  margin: 0;
}

.pricing-and-cart {
  width: 100%;
}

.fa-shopping-cart {
  font-size: 1.3rem;
  top: 0;
  transform: translateY(50%);
}

/* ====== Hover effects ======= */
.card-div:hover .img-div img {
  transform: translateY(7.5%) scale(1.2);
}

.card-div:hover {
  transform: translate(0, -10px);
}

.like-icon-div-child:hover .heart-fill {
  opacity: 1;
  transform: scale(1);
}

.like-icon-div-child:hover .heart-empty {
  transition-delay: 0.25s;
  opacity: 0;
}

#card-1-like:checked ~ .heart-empty,
#card-2-like:checked ~ .heart-empty,
#card-3-like:checked ~ .heart-empty,
#card-4-like:checked ~ .heart-empty {
  opacity: 0;
}

#card-1-like:checked ~ .heart-fill,
#card-2-like:checked ~ .heart-fill,
#card-3-like:checked ~ .heart-fill,
#card-4-like:checked ~ .heart-fill {
  animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked) ~ .heart-fill,
#card-2-like:not(:checked) ~ .heart-fill,
#card-3-like:not(:checked) ~ .heart-fill,
#card-4-like:not(:checked) ~ .heart-fill {
  animation: unlike-animation 0.25s ease-in-out;
}

@keyframes like-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(1);
  }
}

@keyframes unlike-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--heart-icon-color);
    transform: scale(1);
  }
}
